/** Add css rules here for your application. */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: auto;

}

.northPanel{

}

.centerPanel{
    background-color: #ffe8ca;
}

.southPanel{

}

.menuBox{
    width:7em;
    height: 3em;
    background-color: lightskyblue;
    text-align: center;
    margin-left: 5px;
    margin-right:5px;
    bottom: 0;
    margin-bottom: 15px;
}

body {
    background-color: #f8edd8;
}

.container{
    position: relative;
}

button{
    color: inherit;
    background-color: lightskyblue;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button{
    /* basic modern patch */
    all: unset;
    background-color: #d0c6b4;
    border-radius: 3px;
    width:100%;
    height: 100%;
    margin-top:5px;
    padding: 3px 3px 3px 3px;
}

button:hover{
    /* basic modern patch */
    background-color:cornflowerblue;
}

button:active{
    border: none;
}

.hidden {
    display: none;
}

.blue{
    background-color:blue;
}

.fakeBtn{
    background-color: #fff4eb;
    border-radius: 10px;
    padding: 3em 3em 3em 3em;
    width: 90%;
    height: 90%;
}


.fakeBtn:hover{
    background-color: #ffd6b3;
    border-radius: 10px;
}

.fakefakeBtn{
    background-color: #eadfd6;
    border-radius: 10px;
    padding: 3em 3em 3em 3em;
    width: 95%;
    height: 95%;
}

.fakefakeBtn:hover{
    background-color: #d4c9c0;
}

.fakefakefakeBtn{
    background-color: #fff4eb;
    border-radius: 10px;
    padding: 3em 3em 3em 3em;
    width: 60%;
}

.fakefakefakeBtn:hover{
    background-color: #ffd6b3;
}

.fakefakefakeBtn2{
    background-color: #fff4eb;
    border-radius: 10px;
    padding: 3em 3em 3em 3em;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

.fakefakefakeBtn2:hover{
    background-color: #ffd6b3;
}

.margintop{
    margin-top: 1em;
}

.bold{
    font-weight: bold;
    font-size: larger;
}

.marginbot{
    margin-bot: 1em;
}

.dit {
    direction: rtl;
}